/* ROOT */
:root{
    /* --color-primary: #ff6363;
    --color-primary2: #ff636376; */
    --color-white: #fff;
    --color-bg: #f3f4f5;
  
    --box-shadow: rgba(0, 0, 0, 0.218);
    --transition: all 300ms ease;
  }
/* SEARCH INPUT FORM */
.search-form {
    position: relative;
    top: 8rem;
    margin: 0 auto;
}

.search-form .search-btn {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.search-form .under {
    border-bottom: 2px solid var(--color-primary);
}
/* SEARCH RESPONSE FIELD */
.search_field {
    position: relative;
    top: 12rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.15rem;
}

.search_content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    place-items: center;
    margin-bottom: 1rem;
}

.search_details {
    display: grid;
    grid-template-columns: 30% auto;
    gap: 2rem;
    width: 100%;
}

.search_left img {
    border: 1px solid var(--color-primary);
    padding: 2px;
    border-radius: 5px;
    width: 320px;
    height: 250px;
    object-fit: cover;
}

.search_right .search_title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.add_btn {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    margin-top: 1rem;
    padding: 5px 8px;
}

.search_right p {
    font-size: 0.7rem;
    font-weight: 300;
}

.search_right p strong {
    font-weight: 400;
}

.search_content .search_divisor {
    background-color: #6b63ff30;
    width: 90%;
    height: 1px;
    margin-top: 1rem;
}

.error-message {
    margin: 0 auto;
    text-align: center;
    color: #000000b7;
    font-size: 0.8rem;
    margin-top: 14rem;
}

/* BROWSE BY CATEGORY */
.browse-header {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 30px;
}

.browse-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 20px;
}

.browse-item {
    display: grid;
    grid-template-columns: 70% 30%;
    place-items: center;
    margin: 0 auto;
    background-color: #6b63ff1d;
    border-radius: 10px;
    box-shadow: 2px 2px 8px var(--box-shadow);
    overflow: hidden;
}

.browse-title {
    font-weight: 700;
    text-align: left;
}

.browse-title:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1023px) {
    .search_content {
        grid-template-columns: repeat(1, 1fr);
    }
    .search_left img {
        width: 300px;
        height: 200px;
    }    
    .search_right .search_title {
        font-size: 1.3rem;
        margin-bottom: 0.4rem;
    }
    .search_right p {
        font-size: 0.7rem;
        font-weight: 300;
    }
    .search_details {
        place-items: center;
        gap: 1rem;
    }
    .add_btn {
        margin-top: 0.5rem;
    }

    .browse-title {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 600px) {
    .search_field {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.7rem;
    }
    .search_details {
        grid-template-columns: 35% auto;
    }
    .search_right .search_title {
        margin-bottom: 0.6rem;
    }
    .add_btn {
        display: block;
        width: 100%;
        margin-top: 1rem;
    }
    .browse-container {
        margin-bottom: 2px;
    }

    .browse-header {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .browse-title {
        font-size: 0.65rem;
    }
}