/* ROOT */
:root{
    /* --color-primary: #ff6363;
    --color-primary2:  #ff636376; */
    /* --color-white: #fff;
    --color-bg: #f3f4f5; */
  
    --box-shadow: rgba(0, 0, 0, 0.218);
    --transition: all 300ms ease;
}

.shelf-container {
    margin-top: 2rem;
}

.s-container .shelf-title {
    font-size: 2rem;
    font-weight: 600;
}

.current-read {
    font-size: 0.9rem;
    margin-top: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.under {
    width: 100px;
    height: 2px;
    background-color: var(--color-primary);
    border-radius: 10px;
    margin-top: 10px;
}

.shelf-bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin: 70px 10px 15px;
}

.shelf-image {
    position: relative;
}

.shelf-image img {
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shadow);
    margin-bottom: 10px;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.shelf-image .layer {
    background: transparent;
    position: absolute;
    width: 88%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    transition: all 0.2s ease-in;
    overflow: hidden;
}

.layer:hover {
    background: #030302bd;
}

.layer .layer-links {
    margin: 50% auto;
}
  
.layer a {
    color: var(--color-white);
    border: 1.5px solid var(--color-white);
    border-radius: 5px;
    display: block;
    font-weight: 300;
    font-size: 0.9rem;
    padding: 3px 0;
    margin: 5px auto;
    text-align: center;
    justify-content: center;
    opacity: 0;
    width: 75%;
    cursor: pointer;
}

.layer a:hover {
    color: var(--color-primary2);
    background-color: var(--color-white);
    font-weight: 400;
}

.layer:hover a {
    opacity: 1;
}

.shelf-info h4 {
    font-size: 0.9rem;
    font-weight: 700;
}

.shelf-info p {
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--color-primary);
}

@media screen and (max-width: 1023px) {
    .shelf-bottom {
        grid-template-columns: repeat(3, 1fr);
    }
    .layer:focus {
        background: #030302bd;
    }
    .layer .layer-links {
        width: 100%;
        position: absolute;
        top: 75%;
        transition: all 0.3s linear;
    }
    .layer:hover .layer-links {
        top: 0;
    }
    .shelf-items {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .s-container .shelf-title {
        font-size: 1.5rem;
        margin-left: 5px;
    }

    .current-read {
        font-size: 0.7rem;
    }
    
    .under {
        width: 70px;
        margin-left: 2px;
    }

    .shelf-bottom {
        gap: 0.5rem;
    }

    .shelf-items {
        width: 100%;
    }

    .shelf-image img {
        max-width: 100%;
        max-height: 160px;
    }

    .shelf-image .layer {
        width: 100%;
    }

    .layer .layer-links {
        margin: 30% auto;
    }

    .layer a {
        border: 1px solid var(--color-white);
        border-radius: 3px;
        font-size: 0.6rem;
        padding: 1px 0;
        margin: 2px auto;
        opacity: 0;
        width: 78%;
    }

    .shelf-info h4 {
        font-size: 0.7rem;
    }
    
    .shelf-info p {
        font-size: 0.5rem;
    }
}